# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Numerous always-ignore extensions
#######################
*.diff
*.err
*.orig

# Logs and databases #
######################
*.log
*.sql
*.sqlite

*.rej
*.swo
*.swp
*.sass-cache
*.ruby-version

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Node
#######################
npm-debug.log
node_modules

# OS or Editor folders
#######################
## Ignore Mac OS Stuff
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride.DS_Store

*.vi
*~
._*
Thumbs.db
ehthumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Object and Archive files
#######################
*.[oa]

## Ignore Sublime text stuff
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# Folders to ignore
#######################
less/bootstrap

# HTML Validation Files
#######################
validation*.json

# Icon must end with two \r
###########################
Icon

# Files that might appear in the root of a volume
#################################################
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
#####################################################
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# sftp configuration file
#########################
sftp-config.json
